main.css

#assign_header {
	background-color: darkblue;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 18px;
}

#assign_header h4 {
	margin-bottom: 0px;
	font-size: 32px;
}

.caption {
	font-size: 14px;
	color: gray;
	margin-top: 8px;
}

#assign_header h3{
	font-size: 24px;
	font-weight: bold;

}
p{
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: bold;